<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="head.html">
</head>
<body>
        <div th:insert="navbar.html">
        </div>


    <div class="container mt-5">
        <div class="row">
            <div class="col-6 mx-auto">
                <form action="/save-music" method="post" th:if = "${song != null}">
                    <div class="row">
                        <div class="col-12">
                            <label>NAME</label>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" name="name" class="form-control" placeholder="Name" required th:value="${song.name}">
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <label>AUTHOR</label>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" name="author"
                                   class="form-control"
                                   placeholder="Author" required
                                    th:value="${song.author}"
                            >
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col-12">
                            <label>DURATION</label>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="number" name="author" class="form-control"
                                   placeholder="Duration"
                                   required th:value="${song.duration}">
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <button class="btn btn-success">SAVE MUSIC</button>
                        </div>
                    </div>
                </form>
                <h4 th:if = "${song == null}" class="text-center">MUSIC NOT FOUND</h4>
            </div>
        </div>
    </div>

</body>
</html>