<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MuscGYM</title>
    <link rel="stylesheet" th:href="@{'/css/bootstrap.min.css'}">
    <script th:src="@{'/js/bootstrap.bundle.js'}"></script>
</head>
<body>

    <div class="container mt-5">
        <div class="row">
            <div class="col-6 mx-auto">
                <form action="/add-music" method="post">
                    <div class="row">
                        <div class="col-12">
                            <label>NAME</label>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" name="name" class="form-control" placeholder="Name" required>
                        </div>
                    </div>

                    <div class="row mt-3">
                        <div class="col-12">
                            <label>AUTHOR</label>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="text" name="author" class="form-control" placeholder="Author" required>
                        </div>
                    </div>


                    <div class="row mt-3">
                        <div class="col-12">
                            <label>DURATION</label>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="number" name="author" class="form-control" placeholder="Duration" required>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-12">
                            <button class="btn btn-success">ADD MUSIC</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>

                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Author</th>
                            <th>Duration</th>
                            <th style="width: 10%">Details</th>
                        </tr>

                    </thead>

                    <tbody>
                        <tr th:each = "muz : ${musics}">
                            <td th:text = "${muz.id}"></td>
                            <td th:text = "${muz.name}"></td>
                            <td th:text = "${muz.author}"></td>
                            <td th:text = "${muz.duration}"></td>
                            <td>
                                <button class="btn btn-primary btn-sm"></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>