<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MuscGYM</title>
</head>
<body>
<style>
    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        background-image: url("https://wallpaperaccess.com/full/1454800.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
    a:hover {
        background-color: #cdda1c;
    }
</style>
    <h1 style="text-align: center;margin: 0 auto; font-size: 72px; color: #FFF;">Hello Main page</h1>
    <a style="text-decoration: none; font-size: 32px; color: #FFF; background-color: #c3a30b; padding: 30px; border-radius: 12px; transition: all .3s linear;" href="/about">ABOUT PAGE</a>
</body>
</html>